.root {
    -fx-background-color: white;
}

.button {
    -fx-font-family: "Monospaced";
    -fx-text-fill: black;
    -fx-font-size: 13pt;
    -fx-border-style: solid;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}

.button:pressed {
    -fx-background-color: #e0e0e0;
}

.label {
    -fx-font-family: "Monospaced";
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
    -fx-border-style: segments(5, 5);
    -fx-border-width: 1px;
}

.main {
}

.helper {
    -fx-font-size: 10pt;
}